- name: Login to Amazon ECR
  run: |
    aws ecr get-login-password --region ${{ secrets.AWS_REGION }} \
    | docker login --username AWS --password-stdin \
    ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com

- name: Build Docker Image
  run: |
    docker build -t ${{ secrets.ECR_REPOSITORY }} .

- name: Tag Docker Image
  run: |
    docker tag ${{ secrets.ECR_REPOSITORY }}:latest \
    ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.ECR_REPOSITORY }}:latest

- name: Push Docker Image
  run: |
    docker push \
    ${{ secrets.AWS_ACCOUNT_ID }}.dkr.ecr.${{ secrets.AWS_REGION }}.amazonaws.com/${{ secrets.ECR_REPOSITORY }}:latest
